body.login-page {
  margin: 0;
  font-family: sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./bg-desktop.jpg);
  background-size: cover;
}

.login-container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.253);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  text-align: center;
  color: white;
  width: 330px; /* define largura fixa */
  min-width: none;
  max-width: 400px;
  box-shadow: 2px 2px 2px rgba(116, 116, 116, 0.281);
}

.login-container .logo {
  width: 60px; /* ajusta o tamanho da logo */
  margin-bottom: 10px; /* espaço entre a logo e o título */
}

input {
  border: 1px solid rgba(255, 255, 255, 0.301);
  border-radius: 20px;
  outline: none;
  padding: 15px;
  color: rgba(253, 253, 253, 0.753);
  background-color: #00000000;
  transition: 0.2s;
}

input:hover {
  border: 1px solid white;
}

input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.281);
}

input::placeholder {
  color: rgba(253, 253, 253, 0.753);
}

.login-container button {
  background-color:rgba(0, 0, 0, 0); /* cor do botão */
  color: white; /* cor do texto */
  border: 1px solid rgba(255, 255, 255, 0.308);
  margin: 10px;                /* sem borda padrão */
  padding: 16px 24px;                 /* tamanho do botão */
  border-radius: 10px; /* deixa totalmente arredondado */
  font-size: 16px; /* tamanho da fonte */
  cursor: pointer; /* muda o cursor ao passar o mouse */
  transition: 0.4s;
}

.entrar:hover {
  background-color: rgba(255, 255, 255, 0.226); /* cor ao passar o mouse */
  border: 1px solid rgba(255, 255, 255, 0.377);
  transform: translateY(-3px);

}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* largura normal */
  height: 100%;
  background-color: rgba(
    4,
    16,
    126,
    0.9
  ); /* azul escuro com 80% de opacidade */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  transition: transform 0.3s; /* animação para sumir */
  border-right: 3px solid rgb(0, 174, 255);
  border-radius: 10px;
}

/* Classe que fecha a sidebar */
.sidebar.fechada {
  transform: translateX(-100%); /* desloca totalmente para a esquerda */
}

/* Links da sidebar */
.sidebar a {
  display: block;
  color: rgb(3, 247, 255);
  text-decoration: none;
  padding: 15px;
  margin: 5px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 3px black;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar a.sair {
  background: #000000;
  text-align: center;
  border-radius: 8px;
  margin: 5px;
  margin-bottom: 30px;
}

.sidebar a.sair:hover {
  background-color: #cccccc9c; /* azul escuro com 80% de opacidade */
}

/* Conteúdo */
.content {
  margin-left: 200px;
  padding: 10px;
  transition: margin-left 0.3s;
}
.content.expandido {
  margin-left: 50px;
}

/* Chat */
#chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  background: white;
  border-radius: 8px;
}
.mensagem {
  background: #e0e0e0;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
}

/* Botão hamburguer */
#toggle-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  font-size: 20px;
  cursor: pointer;
}

body.interna {
  background: url("fundo.webp") no-repeat center center fixed; /* imagem de fundo */
  background-size: cover; /* cobre toda a tela */
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

.content {
  border: 2px solid #000000;
  background-color: #fdfdff;
  padding: 10px;
  border-radius: 8px;

  width: 500px; /* largura fixa */
  /* ou você pode usar porcentagem */
  /* width: 50%; */

  display: block; /* obrigatório para largura funcionar */
}
